html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1200px;
}

/*给首页左侧导航菜单字号大小设置样式*/
.el-submenu__title, .el-menu-item{font-size:13px;}
/*给首页左侧导航菜单(一级)图标设置样式*/
i.iconfont{margin-right:14px;}
/*给首页左侧导航菜单(二级)图标设置样式*/
.el-menu-item i.el-icon-menu{margin-right:9px;}

/*给全部的卡片区设置样式*/
.box-card{
  margin-top:15px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
}

/*给全部的table表格设置样式*/
.el-table{
  margin-top:15px;
  font-size:12px;
}

/*给全部分页组件统一设置样式*/
.el-pagination{
  margin-top:15px;
}

/*给步骤条设置样式*/
.el-step__title{
  font-size:12px;
}

/*给富文本编辑器配置样式*/
.quill-editor{
  margin-bottom:15px;
}
.ql-editor{
  height:200px;
}